.not-available {
    position: relative;
    width: 500px;
    height: 100px;
    background-image: url('../../images/pictures/patern 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.not-available::after {
    content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(67, 170, 97, 0.5);
}

@media (max-width: 550px) {
    .not-available {
        width: 300px;
    }
}