/* DataTable.css */

.data-table {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    border-radius: 10px 10px 0 0;
}

.data-table table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th, .data-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.data-table thead th {
    color: var(--text-color);
    font-weight: 600;
}

.data-table tbody tr:hover {
    background-color: #f1f1f1;
}

.data-table tbody td {
    color: #333;
    font-size: 14px;
}

.data-table tbody td img{
    width: 30px;
}

