.contact-us-section {
	padding-top: 20px;
}

.contact-us-section .container {
	padding: 30px;
	height: 100%;
	background: url('../../images/icons/help.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.form-wrapper {
	padding: 50px;
	margin-top: 30px;
	max-width: 400px;
	width: 100%;
	text-align: center;
	position: relative;
	color: #fff;
}

.form-wrapper h2 {
	padding-bottom: 20px;
	font-size: 18px;
}

.form-wrapper form {
	display: flex;
	flex-direction: column;
}

.form-wrapper input,
.form-wrapper textarea {
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

.form-wrapper input[type='text'],
.form-wrapper input[type='tel'],
.form-wrapper input[type='email'] {
	height: 40px;
}

.form-wrapper textarea {
	height: 80px;
	resize: none;
}

.form-wrapper button {
	width: 60%;
	margin: 0 auto;
	padding: 10px 0;
	border: none;
	border-radius: 5px;
	background-color: #000;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.form-wrapper button:hover {
	background-color: #333;
}