@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --third-color: #D4D4D4;
  --primary-main-color: #149C54;
  --primary-lighter-color: #A7ABAB;
  --primary-border-color: #FAFAFA;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button,
i,
a {
  cursor: pointer;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}